{% assign friendlylinks = site.data.website.friendlylinks %}
{% if friendlylinks.size > 0 %}
  <section id="access-lastmod">
    <h2 class="panel-heading">{{- site.data.locales[include.lang].website.friendlylinks_text -}}</h2>
    <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
      {% for fk in friendlylinks %}
        {% assign url = fk.url | relative_url %}
        <li class="text-truncate lh-lg">
          <a href="{{ url }}" target="_blank">{{ fk.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
