---
layout: page
aside: kaleido
---
{% include lang.html %}
{% assign kaleido_instructions_text = site.data.locales[lang].kaleido.instructions_text | default: 'Instructions' %}
{% assign kaleido_instructions = site.data.locales[lang].kaleido.instructions | default: 'kaleido is tool' %}

<div id="kaleido" class="pl-xl-3">
  <h2>{{ kaleido_instructions_text }}</h2>
  <div class="divider-h"></div>
  <div class="instruction">
    {{- kaleido_instructions -}}
    <a href="https://github.com/wp2code/kaleido-client" target="_blank">GitHub</a>
  </div>
  {%- if site.kaleido_gif_url != empty and site.kaleido_gif_url -%}
    {%- capture kaleido_gif_url -%}
      {% include media-url.html src=site.kaleido_gif_url %}
    {%- endcapture -%}
    <img src="{{- kaleido_gif_url -}}" alt="kaleido" onerror="this.style.display='none'">
  {%- endif -%}
</div>
