---
layout: page
# All the Tags of posts.
---
<div id="website" class="d-flex flex-wrap mx-xl-2">
  {% assign websites = site.data.website.sites | group_by: 'category' %}
  {% for category in websites %}
    <h1 class="text-muted">{{ category.name }}</h1>
    <div class="divider-h"></div>
    {% assign webs = category.items[0].webs | sort_natural %}
    <div class="web-item">
      {% for w in webs %}
        {%- capture tooltip -%}
          data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ w.description }}" aria-label="{{ w.description }}"
        {%- endcapture -%}
        <a class="tag web-tag" href="{{ w.link }}" target="_blank" {{ tooltip }}>
          <span class="text-muted">
            {{- w.title -}}
            {%  if w.description  %}
            {% comment %} <span class="tooltiptext">{{ w.description }}</span></span
            > {% endcomment %}

          {% endif %}
        </a>
      {% endfor %}
    </div>
  {% endfor %}
</div>
